.login-main {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top:50px;
    background:#fff;
    overflow: hidden;
    :global {
      .ant-form-item-control-input {
        width: 250px;

      }
      .ant-form-item {
        &.btn-main {
          .ant-form-item-control-input-content {
            display: flex;
            justify-content: space-between;
          }
        }
      }

    }
}
