.add-article-main {
  background: #fff;
}
.add-article-btn {
   :global{
     .ant-form-item-control-input-content {
       text-align: right;
     }
     .ant-btn {
       margin-left: 40px;
     }
   }
}
