.layout-main{
  width: 100%;
  height: 100%;
  overflow: hidden;
  .layout-logon {
    height: 50px;
    background: #55648d;
  }
  .layout-content {
     height: calc(100% - 50px);
    overflow: hidden;
      display: flex;
    .left-route {
      width: 100px;
      flex-shrink: 0;
      background: rebeccapurple;
    }
    .right-main {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    .right-main-header.header-route{
       height: 100px;
        background: beige;
      flex-shrink: 0;
    }
    .right-main-content {
      flex: 1;
      background: #cccccc;
    }
  }
}
