html,body {
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,"Microsoft YaHei", "微软雅黑","PingFang SC","Hiragino Sans GB",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
}
#root {
   width: 100%;
    height: 100%;
}
main {
    display: block;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
main,
section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button, input, select, textarea {
    font-family: "Helvetica Neue", Helvetica,"Microsoft YaHei", "微软雅黑", "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
}
.clearfix:after {
    content: '200B';
    font-size: 0;
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.clearfix {
    zoom: 1
}
a {
    text-decoration: none
}
li {
    list-style: none;
}
input::-ms-clear{display: none;}
input::-ms-reveal{display: none;}
